Django
django-bootstrap-datepicker-plus
django-allauth
pillow
django-crispy-forms
django-bootstrap4
folium
geopy
geocoder
selenium
gunicorn
python-decouple
whitenoise
psycopg2
django-cloudinary-storage

