Django
django-bootstrap-datepicker-plus
django-allauth
pillow
django-crispy-forms
django-bootstrap4
folium
geopy
geocoder
gunicorn
python-decouple
whitenoise
psycopg2
django-cloudinary-storage
coverage


