{% extends 'Hello_Buddy/base.html' %}
{% load static %}
{% block content %}

<div class="jumbotron text-center">
  <h1>Welcome to Hello Buddy</h1>
</div>

<div id="team" class="container text-center">
    <h3>My team</h3>
  <br>
  <div class="container">
    <div class="row">

      <div class="col-sm-3">
        <a href="#demo" data-toggle="collapse">
        <img src="{% static 'images/b.png'%}"
              class="img-circle person" alt="Random Name" width="255" height="255">
                  </a>
          <div id="demo" class="collapse">
            <p class="text-center"></p><br>
        <p>Jirasak Tumbal</p>
        <p><span class="glyphicon glyphicon-earphone"></span> xxxxxxxxxx</p>
        <p><span class="glyphicon glyphicon-envelope"></span> jirasak.tu@ku.th</p>
      </div>
      </div>


      <div class="col-sm-3">
        <a href="#demo2" data-toggle="collapse">
          <img src="{% static 'images/m.png'%}"
                class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo2" class="collapse">
          <p class="text-center"></p><br>
        <p>Khemissara Pratummanee</p>
        <p><span class="glyphicon glyphicon-earphone"></span> xxxxxxxxxx</p>
        <p><span class="glyphicon glyphicon-envelope"></span> khemissara.p@ku.th</p>
        </div>
      </div>

            <div class="col-sm-3">
        <a href="#demo3" data-toggle="collapse">
          <img src="{% static 'images/r.png'%}"
                class="img-circle person" alt="Random Name" width="255" height="255">
        </a>
        <div id="demo3" class="collapse">
          <p class="text-center"></p><br>
        <p>Setthanan Thongpanchang</p>
        <p><span class="glyphicon glyphicon-earphone"></span> xxxxxxxxxx</p>
        <p><span class="glyphicon glyphicon-envelope"></span> setthanan.th@ku.th</p>
        </div>
      </div>

    <div class="col-sm-3">
      <a href="#demo4" data-toggle="collapse">
        <img src="{% static 'images/p.png'%}" class="img-circle person" alt="Random Name" width="255" height="255">
      </a>
      <div id="demo4" class="collapse">
        <p class="text-center"></p><br>
        <p>Ratthicha Parinthip</p>
        <p><span class="glyphicon glyphicon-earphone"></span> xxxxxxxxxx</p>
        <p><span class="glyphicon glyphicon-envelope"></span> ratthicha.p@ku.th</p>
      </div>
    </div>
    </div>
    </div>
  </div>



<!-- Container (Contact Section) -->
<div id="contact" class="container" style="margin-top:50px">
  <h3 class="text-center">Contact</h3>
  <p class="text-center"></p>

  <div class="row">
    <div class="col-md-4">
      <p><span class="glyphicon glyphicon-map-marker" ></span> Bangkok, Thailand</p>
      <p><span class="glyphicon glyphicon-phone"></span> Phone: +66 0000000</p>
      <p><span class="glyphicon glyphicon-envelope"></span> Email: hellobudy@ku.th</p>
    </div>
    <div class="col-md-8">
      <div class="row">
        <div class="col-sm-6 form-group">
          <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
        </div>
        <div class="col-sm-6 form-group">
          <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
        </div>
      </div>
      <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
      <br>
      <div class="row">
        <div class="col-md-12 form-group">
          <button class="btn pull-right" type="submit">Send</button>
        </div>
      </div>
    </div>
  </div>




</div>
{% endblock %}