{% extends 'Hello_Buddy/base.html' %}

{% block content %}
<style>
    .img-responsive {
        max-width: 120px;
        height: 100px;
    }
</style>

<div class="container" style="margin-top:100px">
    <!--profile-->
    <form action='{% url "profile-user" %}' method='POST' enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-sm-3">
            <div class="card-body text-center">
                <img src="{{ profile.avatar.url }}" alt="avatar"
                     class="img-circle person" width="200" height="200">
                <br>
                <br>
                {{ profile_form.avatar }}
                <br>
                {{ user_form.username}}
                <br>
                {{ user_form.email}}
                <br>
                {{ profile_form.bio }}
                <div class="d-flex justify-content-center mb-2">
                    <br>
                    <button type="submit" name='save'class="btn btn-dark btn-lg">Save Changes</button>
                    <button type="reset" class="btn btn-dark btn-lg">Reset</button>
                </div>
            </div>
        </div>

        <div class="text-center">
            <h4>Created Event</h4>
        </div>
        <br>

        <!--created event-->
        <div class="col-sm-9">
            {% for i in events %}
            <div class="col-sm-6">
                <div class="well well-sm">
                    <div class="row">

                        <!-- Modal -->
                        <div class="modal fade" id="{{i.event.id}}" data-backdrop="false">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4>Setting</h4>
                                    </div>
                                    <div class="modal-body">Are you sure to delete this event?</div>
                                    <div class="modal-footer">
                                        <button name="delete" value="{{i.event.id}}" type="submit"
                                                class="btn btn-default">{{i.event.name}}
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--event photo-->
                        <div class="col-sm-4">
                            <img src="{{i.event.image_upload.url}}" alt=""
                                 class="img-rounded img-responsive" width="142" height="98"/>
                        </div>
                        <div class="col-sm-6">
                            
                            {% if i.event.is_active %}
                            <i><h4><span class="glyphicon glyphicon-stop" style='color: green;'></span> {{ i.event.name }}</h4></i>
                            {%else%}
                            <i><h4><span class="glyphicon glyphicon-stop" style='color: red;'></span> {{ i.event.name }}</h4></i>
                            {%endif%}
                            <i><span class="glyphicon glyphicon-map-marker"></span> {{ i.event.place }}</i>
                            <nav></nav>
                            <i><span class="glyphicon glyphicon-envelope"></span> {{ i.user.email}}</i>
                            <nav></nav>
                            <i><span class="glyphicon glyphicon-calendar"></span> {{ i.event.date}}</i>
                        </div>
                        <div class="col-sm-2">
                                <!-- close button trigger modal -->
    
                                        <!--    edit dropdown button   -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" data-toggle="modal"
                                                       data-target="#{{i.event.id}}">Delete</a></li>
                                                <li><a href="#">Edit</a></li>
                                                <li role="separator" class="divider"></li>
                                                <li><a href="#">Close</a></li>
                                            </ul>
                                         
                                        </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <br>
        <br>
        <div class="text-center">
            <h4>Joined Event</h4>
        </div>
        <br>

        <!--joined event-->
        <div class="col-sm-9">
            {% for i in joined_events %}

            <div class="col-sm-6">
                <div class="well well-sm">
                    <div class="row">
                        <div class="col-sm-4">
                            <img src="{{i.event.image_upload.url}}" alt=""
                                 class="img-rounded img-responsive" width="142" height="98"/>
                        </div>
                        <div class="col-sm-8">
                            {% if i.event.is_active %}
                            <i><h4><span class="glyphicon glyphicon-stop" style='color: green;'></span> {{ i.event.name }}</h4></i>
                            {%else%}
                            <i><h4><span class="glyphicon glyphicon-stop" style='color: red;'></span> {{ i.event.name }}</h4></i>
                            {%endif%}
                            <i><span class="glyphicon glyphicon-map-marker"></span> {{ i.event.place }}</i>
                            <nav></nav>
                            <i><span class="glyphicon glyphicon-envelope"></span> {{ i.event.email}}</i>
                            <nav></nav>
                            <i><span class="glyphicon glyphicon-calendar"></span> {{ i.event.date}}</i>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </form>
</div>
{% endblock %}