{% extends 'Hello_Buddy/base.html' %}

{% block content %}

<div class="row" style="margin-top:100px">
    <!--profile-->
    <div class="col-sm-3">
        <div class="card-body text-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                 class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username}}</h5>
            <p class="text-muted mb-1">{{ user.email}}</p>
            <p class="text-muted mb-1">Bio</p>
            <div class="d-flex justify-content-center mb-2">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Edit Profile
                </button>
            </div>
        </div>
    </div>

    <!--history event-->
    <div class="col-sm-9">
        {% for event in events %}
        <div class="col-xs-12 col-sm-10 col-md-10">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-2">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt=""
                             class="img-rounded img-responsive"/>
                    </div>
                    <h4 class="col-sm-10">{{ event.name }}</h4>
                    <i><span class="glyphicon glyphicon-map-marker"></span> {{ event.place }}</i>
                    <nav></nav>
                    <i><span class="glyphicon glyphicon-envelope"></span> {{ user.email}}</i>
                    <nav></nav>
                    <i><span class="glyphicon glyphicon-gift"></span> {{ event.date}}</i>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>

    <!--    <div class="col-sm-9">-->
    <!--        <div class="container">-->
    <!--&lt;!&ndash;            <div class="row">&ndash;&gt;-->
    <!--                {% for event in events %}-->
    <!--                <div class="col-xs-12 col-sm-6 col-md-6">-->
    <!--                    <div class="well well-sm">-->
    <!--                        <div class="row">-->
    <!--                            <div class="col-sm-6 col-md-4">-->
    <!--                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp"-->
    <!--                                     alt="" class="img-rounded img-responsive"/>-->
    <!--                            </div>-->
    <!--                            <div class="col-sm-6 col-md-8">-->
    <!--                                <h4>-->
    <!--                                    {{event.name}}</h4>-->
    <!--                                <small><cite title="San Francisco, USA">{{event.place}} <i-->
    <!--                                        class="glyphicon glyphicon-map-marker">-->
    <!--                                </i></cite></small>-->
    <!--                                <p>-->
    <!--                                    <i class="glyphicon glyphicon-envelope"></i>{{user.email}}-->
    <!--                                    <br/>-->
    <!--                                    <i class="glyphicon glyphicon-globe"></i><a href="http://www.jquery2dotnet.com">googlemap.link</a>-->
    <!--                                    <br/>-->
    <!--                                    <i class="glyphicon glyphicon-gift"></i>{{event.date}}</p>-->
    <!--                            </div>-->
    <!--                        </div>-->
    <!--                    </div>-->
    <!--                </div>-->
    <!--            </div>-->
    <!--            {% endfor %}-->
    <!--&lt;!&ndash;        </div>&ndash;&gt;-->
    <!--    </div>-->

    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content header  -->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Setting</h4>
                </div>

                <!--   model content-->
                <div class="modal-body">
                    </div>
<div class="row">
  <div class="col-sm-4">
      <p> Some photo </p>
      <p>Hello</p>
      <p>World</p>
  </div>
  <div class="col-sm-8">
      <form>
  <div class="form-group">
    <label >Username</label>
    <input type="username" class="form-control" id="exampleInputEmail1" placeholder="new username">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
      </form>
  </div>
</div>
                    <div class="container">

                        <!--  edit content     -->


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
