{% block content %}
<h2 style="color: black">Login</h2>
<form action="{% url 'login' %}" method="POST">
  {% csrf_token %}
  <table class="content-container">
    <div class="form-field">
      {{ form.username.label_tag}}
      <nav></nav>
      {{form.username}}
    </div>
    <div class="form-field">
      {{ form.password.label_tag}}
      <nav></nav>
      {{form.password}}
    </div>
  </table>

  <table>
    <tr>
      <td colspan="3">
        <button type="submit">Login</button>
        <!-- ome to main poll for see only -->
        <a href="{% url 'home' %}"><button type="button">Cancel</button></a>
      </td>
    </tr>
  </table>
</form>
{{form.username.errors}} {{form.password.errors}} 
{% endblock %}
