{% block content %}
<h2 style="color: black">Register</h2>
<form action="{% url 'signup' %}" method="POST">
  {% csrf_token %}
  <table class="content-container">
    <div class="form-field">
      {{ form.username.label_tag}} <nav></nav>
      {{form.username}} 
      {{form.username.errors}}
    </div>
    <div class="form-field">
      {{ form.password1.label_tag}} <nav></nav>
      {{form.password1}} 
      {{form.password1.errors}}
    </div>
    <div class="form-field">
      {{ form.password2.label_tag}} <nav></nav>
      {{form.password2}} 
      {{form.password2.errors}}
    </div>
  </table>

  <table>
    <!-- {{ form.as_table }} -->
    <tr>
      <td colspan="3">
        <button type="submit">Register</button>
        <!-- ome to main poll for see only -->
        <a href="{% url 'home' %}"><button type="button">Home</button></a>
      </td>
    </tr>
  </table>
</form>
{% endblock %}
